.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
  }
  
  .card-grid {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    z-index: 1;
  }
  
  .turns {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #d3d60a;
    margin-top:40px;
    margin-left: 40%;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .NewGame {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 2;
  }
  