/*-----------------main.jsx - logo position----------------*/
.logo {
   display: flex;
   justify-content: center;
   border-bottom: 2px solid #66bec7;
   margin-bottom: 1vh;
}

/*---------Initials.jsx -------*/
.bg-set {
   background-color: #66bec7;
   color: #f6b801;
   font-size: 2em;
   border: 5px solid #dcf6f9;
}


/*---------Good morning-------*/
.dashboard-initials {
   display: flex;
   justify-content: flex-end;
   margin-right:1em;
}

.dashboard-good-morning {
   margin-top: -2em;
   height: auto;
   width: 100%;
   border-radius: 20px;
   width: 100%;
   height: auto;
   background-color: #66bec7;
   width: 100%;
   border-radius: 20px;
   padding: 1.5em 1em 2em 1em;
   color: white;
   margin-bottom: -1.4em;
}

#good-morning {
   color: #f6b801;
   font-size: 1.5em;
   margin: 1em 0 1em 0em;
}

/*h2 text color should be #fce7e6 */

/*---------------DASHBOARD(You saved and smoke free-------*/
.dashboard-container {
   height: auto;
   background-color: #66bec7;
   width: 100%;
   border-radius: 20px;
   padding: 1em 1em 1em 1em;
   color: white;
   margin-top: 2em;
   margin-bottom: 2em;
  }

.input-box-dashboard {
   position: relative;
   width: 100%;
   height: 70px;
   border-bottom: 2px solid #b1b7bb;
   margin: 20px 0;
   display: flex;
   align-items: center;
}

.input-box-dashboard .icon-dashboard {
   position:absolute;
   right: 8px;
   font-size: 1.2em;
}

.icon-dashboard {
   color:#f6b801;
}

/*-------------------Articles-------------------*/
.background-articles {
   height: auto;
   background-color: #fce7e6;
   width: 100%;
   border-radius: 20px;
   padding: 1em 1em 1em 1em;
   color: #66bec7;
   margin: 2em 0em 2em 0em;
  }

.input-box-dashboard {
   position: relative;
   width: 100%;
   height: 70px;
   border-bottom: 2px solid #b1b7bb;
   margin: 20px 0;
   display: flex;
   align-items: center;
}

.form-box-article {
   font-size: 1.5em;
   text-align: center;
   display: flex;
   margin-bottom: 0.8em;
}

.wrapper-articles {
   position: relative;
   width: 100%;
   height: auto;
   background: transparent;
   border: 2px solid #f6b801;
   border-radius: 20px;
   backdrop-filter: blur(20px);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 1em;
   padding: 0.5em 0.5em 0.5em 0.5em;
}

.dashboard-article {
   color:#f6b801;
}






