/* Goals Component CSS */
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-message {
  margin-bottom: 10px;
}

.modal-close-button {
  background-color: #d3d60a;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: red;
}

/* "Create a New Goal" Section */
.goals_createGoal {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.newGoal {
  font-size: 24px;
  color: #333333;
  margin-right: 20px;
}

.goals_addGoal_btn {
  background-color: #67cce3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Background Section */
.goals-background {
  padding: 20px;
  border-radius: 4px;
}
.goalBack{
  background-color: #d3d60a;
}


.savedmoney{
  display: flex;
  justify-content: center;
}
/* Goal Form Box */
.goals-form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.goals-formArea {
  margin-bottom: 10px;
}

.goals-label {
  font-size: 16px;
  color: #333333;
}

.goals-input-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.goals-survey-currency {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
}
.goals_saveGoal_btn{
  background-color: #f6b801

}

.goals_saveGoal_btn {
  background-color: #8e9797;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Goal Card */
.goal-card {
  background-color:#f0c648 ;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.goal-card-achieved {
  background-color: #71bb71;
}

.goal-card p {
  margin: 0;
  font-size: 16px;
  color:whitesmoke;
}

.check-button,
.delete-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #36c9b0;
  cursor: pointer;
  transition: color 0.3s;
}

.check-button:hover
 {
  color: #00ff00;
}
.delete-button:hover{
  color:red
}

.achieved-icon {
  font-size: 20px;
  color: #008000;
  margin-right: 10px;
}


.achieved-icon{
  animation: rotate360 10s linear infinite;

} 