/*----------Card for one section--------*/
 .progress-container {
    height: auto;
    width: 100%;
    border-radius: 20px;
   }
 
 .progress-wrapper {
    position: relative;
    width: 100%;
    height: 28em;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 2em 2em 2em 2em;
 }

.progress-headline {
    color:#1f93a0;
    font-size: 1.3em;
 }

 .progress-chart {
   margin: -6em -10em 0 2em; 
}
  


/*---------bottom container------------*/

.progress-background {
    height: auto;
    width: 100%;
    border-radius: 20px;
   }
 
 .progress-wrapper .user-form-box {
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;
 }

 .progress-extra-box {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
 }

 .progress-icon-color{
   color: #EC6464;
 }

 /*-------Uncocked Achievments---------*/

 .progress-container{
    height: auto;
    background-color: #8cc3c9;
    width: 100%;
    border-radius: 20px;
    padding: 1em 1em 1em 1em;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   }

   .progress-container-uncompleted{
    height: auto;
    background-color: #EC6464;
    width: 100%;
    border-radius: 20px;
    padding: 1em 1em 1em 1em;
    color: white;
    margin-top: 20px;
   }



